@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* *{
    outline: 1px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

/* Header section */
.header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-imagen{
    width: 10%;
    height: 10%;
    margin-left: 1rem;
}
.header-titulo{
    font-size: clamp(1.5rem, 1.5rem, 2rem); /* minimo, preferido, maximo */
}


/* Main section */
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


/* Ingresar texto section */
.content-encriptar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-encriptar-textarea{
    width: 80%;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: none;
    line-height: 1.75;
}
.content-encriptar-textarea::placeholder{
    font-size: 1.25rem;
    color: darkblue;
}
.content-encriptar-textarea:focus{
    border-color: darkblue;
    outline: none;
}
.fa-circle-exclamation{
    color: darkblue;
}

/* Botones section */
.content-botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.content-botones button{
    width: 80%;
    height: 2.8rem;
    border-radius: 0.9rem;
    font-size: 1rem;
}
.content-botones-encriptar{
    color: white;
    background: darkblue;
    border-color: white;
}
.content-botones-desencriptar{
    color: darkblue;
    background: white;
    border-color: darkblue;
}


/* Resultado section */
.content-desencriptar{
    min-height: 10.62rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 1.56rem 0 1.56rem 0;
    padding: 0 1.25rem 0 1.25rem;
    border-radius: 1.87rem;
    text-align: center;
    box-shadow: 3px 5px 11px 6.5px #e6e5e5;
}
.content-desencriptar-imagen{
    display: none;
}
.content-desencriptar-titulo{
    font-size: 1.7rem;
    margin-bottom: 0;
}
.content-desencriptar-parrafo{
    font-size: 1.2rem;
    font-weight: bold;
}
.content-desencriptar-parrafo-copiado{
    font-size: 1.3rem;
    display: none;
    color: #04a004;
}


/* Footer section */
.links-sociales{
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1.5rem;
    gap: 1rem;
}
.link-logotipo{
    width: 90%;
}


/* Media Queries */
/* Vista Escritorio */
@media (771px <= width){
    .header-imagen{
        width: 3%;
        margin-left: 1rem;
    }
    .container{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .content-encriptar{
        width: 60%;
    }
    .content-botones{
        width: 80%;
        flex-direction: row;
    }
    .content-desencriptar{
        align-items: center;
        justify-content: center;
        width: 20%;
        min-height: 450px;
    }
    .content-desencriptar-imagen{
        width: 80%;
        display: block;
    }
}

/* Vista tablet */
@media (376px <= width <= 770px){
    body{
        /* height: 100vh; */
        background-color: #04a004;
    }
}
